.idk-total-container {
  display: inline-block;
  margin-right: 5px;
}

.idk button {
  background: #c72c41;
  cursor: pointer;
  border: none;
  color: white;
  padding: 7px;
  border-radius: 5px;
  font-size: 20px;
}

.total button {
  background: #801336;
  cursor: pointer;
  border: none;
  color: white;
  padding: 7px;
  border-radius: 5px;
  font-size: 20px;
}
