.clear-cart-btn button {
  background: #ffb485;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  color: white;
  padding: 7px;
  border-radius: 5px;
  font-size: 20px;
}

.buy-product button {
  background: #ffb485;
  cursor: pointer;
  border: none;
  color: white;
  padding: 7px;
  border-radius: 5px;
  font-size: 20px;
  width: 80px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
