.clear-cart-btn button {
  display: inline-block;
  background: #ffb485;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 30px;
}

.buy-product button {
  background: #ffb485;
  cursor: pointer;
  border: none;
  color: white;
  padding: 7px;
  border-radius: 5px;
  font-size: 20px;
  width: 80px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
