footer {
  /* padding: 20px;
  background-color: #d15c95;
  color: white;
  flex-shrink: 0; */

  position: fixed;
  padding: 12px;
  bottom: 0;
  width: 100%;
  color: white;
  background: #d15c95;
}

footer a {
  text-decoration: line-through;
}

.footer-content {
  flex: 1 0 auto;
}
