/* Cart */
.cart {
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}

.cart-container {
  background-color: #801336;
  height: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Cart 2 */
.cart-button {
  margin: 0 auto;
  /* border-radius: 5px; */
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.cart-container2 {
  padding: 5px;
  background-color: #801336;
  height: 50px;
  width: 50px;
  text-align: center;
  align-items: center;
  float: right;
  /* border-radius: 5px; */
  justify-content: center;
}

.border-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.border-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 10px;
}
