/*
Palette Ideas - ColorHunt
https://colorhunt.co/palette/220248

404 Error Example #1 - CodePen
https://codepen.io/ricardpriet/pen/MOKEam

Rows & Columns - CodePen
https://codepen.io/rachelandrew/pen/YqqdXL

Select - CodePen
https://codepen.io/raubaca/pen/VejpQP

Homepage - CodePen
https://codepen.io/bradtraversy/pen/MNEgoJ
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

.body {
  background-color: white;
  color: black;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#page-footer {
  margin-top: auto;
}

h1 {
  font-weight: 250;
}

h2 {
  font-weight: 200;
}

h4 {
  font-weight: 300;
}

p {
  font-weight: 150;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

img {
  border-radius: 5px;
}

.all-centered {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.letsgopadding {
  padding: 10px;
}

.big-text {
  font-size: 2.8em;
}
