/*
Palette - ColorHunt
https://colorhunt.co/palette/163991

Rows & Columns - CodePen
https://codepen.io/rachelandrew/pen/YqqdXL
*/

@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");

* {
  font-family: "Assistant", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #2d132c;
  color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
}

img {
  border-radius: 5px;
}

a:hover {
  cursor: pointer;
}

input {
  height: 50px;
  width: 500px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: #000000;
  font-size: 25px;
}

::placeholder {
  color: #000000;
  opacity: 1;
  font-size: 25px;
  padding: 5px;
}

:-ms-input-placeholder {
  color: #000000;
  font-size: 25px;
  padding: 5px;
}

::-ms-input-placeholder {
  color: #000000;
  font-size: 25px;
  padding: 5px;
}

.searchbar {
  float: left;
}
